.App {
  text-align: center;
  background-color: #eff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo {
  max-height: 3rem;
}

.wrapper {
  max-width: 100rem;
  margin: 0px auto;
}

.slider img {
  max-height: 100vh;
  object-fit: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-4 {
  margin: 1.6rem 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.two-col-grid {
  display: grid;
  text-align: left;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

img {
  max-width: 100%;
}
